.texto{
    width: 500px;
    margin: 0 auto;
    margin-top: 10px;
}

.texto2{
    width: 800px;
    margin: 0 auto;
    margin-top: 10px;
}


.cadastro{
    margin-top: 50px;
}


.cadastro2{
    margin-top: 50px;
}
.cadastro3{
    margin-top: 50px;
}



.plano{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}



